@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
  }
.navbar-brand{
    font-size: 2rem;
  }
  .navbar{
  
    height: 4rem;
  }
  .nav-item{
    padding-left: 2.3rem;
  }
  @media only screen and (max-width: 769px) {
    .navbar{
      z-index: 2;
  
    }
      .nav-item{
    
        background-color: black;
        border: 2px solid white;
        border-radius: 1rem;
        margin-bottom: 0.5rem;
        /* display: block; */
        z-index: 2;
      }
      *{
        max-width: 100vw;
        /* overflow-x: auto; */
      }
      
  }