body{
  background-color:rgb(46, 136, 91);;
  background-size: contain;
}
img{
  width: 45%;
  margin-left: 700px;
  padding-top: 200px;
  position: absolute;
}
.nav{
  color: white;
  display: inline;
  position: relative;left: 800px;
  padding: 20px;
  }
.name{
  color: white;
  position:relative;
  top: 60px;
  left: 60px;
  font-size: 35px;
}
.heading{
  color: white;
  font-size: 40px;
  position: relative;
  top: 80px;
  left: 80px;
}
.para{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 280px;
  left: 90px;
}